

<div id="about" style='position: absolute; left: 90px; top: 150px; width: 800px; height: 400px;'>


<div id="columns">
	<div id="main" class="center">

	<h1>About Overnighter</h1>
	<p>Overnighter was created to help experienced campers to share their favorite campsites with newer campers</p>
	<p>All campers are invited to add new camp sites and comment on campsites</p>
	<p></p>
	<p>Please, avoid the temptation to delete campsites added by others!!!</p>
		<div>
			<%= link_to "Home", root_path %></li>

		</div>

	</div>
</div>
</div>